// Define variables for your color scheme

// For example:
$red: #F86175;
$blue: #5aa099;
$light-red: #FAA2AD;
$light-blue: #95cac6;
$black: #000000;
$white: #FFFFFF;

.invalid-feedback {
  color: #F86175 !important;
}

.select {
  .select2-selection__rendered {
    color: #495057 !important;
    font-weight: 400;
  }
}
