// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,700&family=Mukta:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Zen+Maru+Gothic:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Zen+Kaku+Gothic+New:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Indie+Flower&family=Manjari:wght@100;400;700&family=Raleway&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&family=Zen+Kurenaido&family=Zen+Maru+Gothic:wght@500&display=swap');
$body-font:'Raleway', sans-serif;

$headers-font: 'Manjari', sans-serif;

h2 {
  text-shadow: white 0px 0px 10px;
}
