.personal-info {
  text-align: center;
  margin-bottom: 30px;
  h3 {
    color: $red;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.123);
  }
}

.last-matches {
  display: flex;
}

.last-match {
  width: 27%;
  height: 70px;
  text-align: center;
  border-radius: 24px;
  color: white;
  padding: 11px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.39) ;
  p {
    font-weight: bolder;
    color: white;
    margin: 0px;
  }
}
.won {
    background-color: $blue;
  }

.lost {
    background-color: $red;
  }
