.personal-info {
  text-align: center;
  margin-bottom: 30px;
  h3 {
    color: $red;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.123);
  }
}

.last-matches {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.last-match {
  width: 48%;
  height: 117px;
  text-align: center;
  align-items: center;
  border-radius: 24px;
  padding: 4px;
  position: relative;
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.39);
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  p {
    margin: 0px;
  }
  svg {
    position: absolute;
    bottom: 102px;
  }
  .elipse {
    position: absolute;
    top: -35px;
  }
}

.matchavatars-1 {
  height: 62px;
  padding-top: 13px;
}

.matchavatars-2 {
  display: flex;
  position: relative;
  height: 62px;
}

.matchavatars-2 .avatar-bordered-small:last-child {
  position: absolute;
  left: 13px;
  top: 20px;
  z-index: 1;
}

.winners {
  width: 59px;
  box-shadow: inset 0px 0px 12px $light-blue;
  border-radius: 8px;
  margin-right: 5px;
  padding: 3px;
  color: $blue;
}

.losers {
  width: 59px;
  box-shadow: inset 0px 0px 12px $light-red;
  border-radius: 8px;
  margin-left: 5px;
  padding: 3px;
  color: $red;
}

.stats {
  display: flex;
}

.won {
  box-shadow: 0px 0px 8px $blue;
  }

.lost {
  box-shadow: 0px 0px 8px $red;
  }

.user-info {
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 2px white;
  border-radius: 24px;
  margin: 8px 0px;
  height: 60px;
  p {
    margin: 0px;
    flex-grow: 1;
  }
  .symbol {
    display: flex;
    justify-content: center;
    width: 60px;
    flex-shrink: 0;
  }
  svg {
    padding: 0;
    margin: 0;
  }
}
