
    <div class="bottom-nav">
      <% if user_signed_in? %>
            <%= link_to matches_path, class: "dropdown-item" do %>
              <svg width="34" height="41" viewBox="0 0 104 111" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="34.0943" cy="34.0944" r="26.5944" stroke="#F86175" stroke-width="15"/>
              <rect width="15.5617" height="70.2562" rx="7.78083" transform="matrix(-0.752532 0.658556 0.658556 0.752532 57.7323 47.1992)" fill="#F86175"/>
              </svg>
            <% end %>
            <%= link_to new_match_path, class: "dropdown-item" do %>
              <svg width="39" height="40" viewBox="0 0 109 110" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="24.1108" height="108.853" rx="12.0554" transform="matrix(-1 8.75236e-05 8.75236e-05 1 66.2325 0.190277)" fill="#F86175"/>
              <rect width="24.1108" height="108.853" rx="12.0554" transform="matrix(0.00618319 -0.999981 -0.999981 -0.00618319 108.851 66.1268)" fill="#F86175"/>
              </svg>
            <% end %>
            <%= link_to mymatches_path, class: "dropdown-item" do %>
              <svg width="11" height="38" viewBox="0 0 81 108" fill="none" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="40.5" cy="39.5" rx="40.5" ry="39.5" fill="#F86175"/>
              <rect x="30" y="54" width="20" height="54" rx="10" fill="#F86175"/>
              </svg>
            <% end %>
            <%= link_to users_path, class: "dropdown-item" do %>
              <svg width="23" height="38" viewBox="0 0 93 108" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line x1="46.5" y1="54" x2="46.5" y2="85" stroke="#F86175" stroke-width="7"/>
              <path d="M12 0H81L74.1 40.2735C74.1 40.2735 74.1 62 46.5 62C18.9 62 18.9 40.2735 18.9 40.2735L12 0Z" fill="#F86175"/>
              <ellipse cx="46.5" cy="85" rx="11.5" ry="8" fill="#F86175"/>
              <ellipse cx="46.5" cy="96.5" rx="19.5" ry="11.5" fill="#F86175"/>
              <rect x="19" y="100" width="55" height="8" fill="#F86175"/>
              <path d="M66 8C66 8 89 19.875 89 27C89 34.125 66 46 66 46" stroke="#F86175" stroke-width="7"/>
              <path d="M27 46C27 46 4 34.125 4 27C4 19.875 27 8 27 8" stroke="#F86175" stroke-width="7"/>
              </svg>
            <% end %>
      <% end %>
    </div>
