<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>fliQ - Table Tennis whenever you like, wherever you like!</title>
</head>
<body>
<%# beginning of animation %>

<div class="container">
  <div class="main">
    <div class="racket">
      <div class="racket__top">
        <div class="racket__face">
          <div class="racket__eye"></div>
          <div class="racket__eye"></div>
          <div class="racket__mouth"></div>
        </div>
      </div>
      <div class="racket__top--b"></div>
      <div class="racket__bottom"></div>
    </div>
    <div class="racket racket--2">
      <div class="racket__top">
        <div class="racket__face">
          <div class="racket__eye"></div>
          <div class="racket__eye"></div>
          <div class="racket__mouth"></div>
        </div>
      </div>
      <div class="racket__top--b"></div>
      <div class="racket__bottom"></div>
    </div>
    <div class="ball">
      <div class="ball__face">
        <div class="ball__eye ball__eye--l"></div>
        <div class="ball__eye ball__eye--r"></div>
      </div>
    </div>
    <div class="line"></div>
  </div>
</div>
<%# end of animation %>
</body>
</html>
