<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>fliQ - Table Tennis whenever you like, wherever you like!</title>
</head>
<body>
  <div class="home-container">
    <div class="home-header">
      <div class="home-logo">
        <svg width="179" height="157" viewBox="0 0 139 117" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M37.629 58.272H15.805V67.232H33.213V75.744H15.805V92H4.797V49.76H37.629V58.272ZM53.9685 46.432V81.12C53.9685 82.528 54.2032 83.5307 54.6725 84.128C55.1418 84.7253 55.9312 85.024 57.0405 85.024C57.6805 85.024 58.2138 84.9813 58.6405 84.896C59.0672 84.8107 59.5792 84.6827 60.1765 84.512L59.4725 91.04C58.7045 91.5093 57.7018 91.8933 56.4645 92.192C55.2272 92.4907 54.0112 92.64 52.8165 92.64C49.4032 92.64 46.9285 91.8507 45.3925 90.272C43.8565 88.6933 43.0885 86.112 43.0885 82.528V46.432H53.9685ZM69.594 56.288C67.3753 56.288 65.754 55.8827 64.73 55.072C63.7487 54.2187 63.258 52.896 63.258 51.104C63.258 49.2693 63.7487 47.9467 64.73 47.136C65.754 46.2827 67.3753 45.856 69.594 45.856C71.77 45.856 73.37 46.2827 74.394 47.136C75.418 47.9467 75.93 49.2693 75.93 51.104C75.93 52.896 75.418 54.2187 74.394 55.072C73.37 55.8827 71.77 56.288 69.594 56.288ZM75.034 60V92H64.154V60H75.034Z" fill="#F5455C"/>
        <path d="M35 16.2362V16.2362C50.2422 13.6265 64.714 23.8672 67.3236 39.1094L67.4924 40.095" stroke="#F5455C" stroke-width="2"/>
        <path d="M73.8982 41.573V41.573C79.9057 27.3236 96.3271 20.6422 110.576 26.6496L111.498 27.0381" stroke="#F5455C" stroke-width="2"/>
        <ellipse cx="69.5" cy="51" rx="4.5" ry="4" fill="#50B0A7"/>
        <rect width="9.83213" height="45.0406" rx="4.91607" transform="matrix(-0.923742 0.383016 0.383016 0.923742 113.487 72.9852)" fill="#50B0A7"/>
        <ellipse rx="21.9499" ry="27.6784" transform="matrix(-0.886153 0.463394 0.414544 0.910029 104.925 69.8921)" fill="#50B0A7"/>
        <ellipse rx="21.9499" ry="27.6784" transform="matrix(-0.886153 0.463394 0.414544 0.910029 107.226 68.3596)" fill="#F5455C"/>
        <rect width="7.83286" height="44.3619" rx="3.91643" transform="matrix(-0.923742 0.383016 0.383016 0.923742 113.302 72.1773)" fill="#F5455C"/>
        <path d="M96.6431 74.2494C92.4564 63.2815 94.3852 50.0442 92.4778 50.7723C90.5703 51.5005 88.2209 62.8768 91.4295 74.2494C94.638 85.6219 105.732 91.2185 107.639 90.4904C109.547 89.7623 100.83 85.2172 96.6431 74.2494Z" fill="white"/>
        </svg>
      </div>
      <h5>Wherever, whenever, whoever play your match with FLiQ</h5>
      <div class="btn btn-primary"><%= link_to "Let´s play!", matches_path%></div>
    </div>
  </div>
</body>
</html>
