<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>fliQ - Table Tennis whenever you like, wherever you like!</title>
</head>
<body>
  <div class="home-container">
    <div class="home-header">
      <%= render './shared/logo' %>
      <h5>Whoever, whenever, wherever <br></h5>
      <h5>play your match with FLiQ</h5>
      <%= render './matches/match_search' %>
    </div>
  </div>
</body>
</html>
