
.btn-cta {
  border-radius: 18px;
  transition-duration: 0.4s;
  padding: 5px 15px;
  font-size: 16px;
  border: 1px solid $red;
  background-color: $red;
  a {
    color: white;
    font-weight: 700px;
  }
}

.btn-inactive {
  border-radius: 18px;
  transition-duration: 0.4s;
  padding: 5px 15px;
  font-size: 16px;
  border: 1px solid $red;
  background-color: $red;
  opacity: 50%;
  a {
    color: white;
    font-weight: 700px;
  }
}
.invisible {
  display: none;
}
