// Show-card

.show-card {
box-shadow: 0px 0px 4px rgb(170, 169, 169);
padding: 20px;
background-color: white;
position: relative;
margin: 10px;
&:hover {
box-shadow: 0px 0px 8px rgb(170, 169, 169);
}
border-radius: 15px 150px 15px 15px;
}

.show-card a {
color: black;
}

.host-img {
text-align: center;
}


// Match-Card
.card-match {
background: white;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
display: flex;
border-radius: 50px;
align-items: center;
margin: 20px 0px;
position: relative;
border: 2px solid $light-blue;
}
#first {
  box-shadow: inset 0 0 15px rgb(255, 217, 0), 0 0 15px rgba(0,0,0,0.2);
  padding: 9px 10px;
  justify-content: space-between
}
 #first h4 {
  padding: 11px;
 }

#second {
  box-shadow: inset 0 0 15px rgb(153, 151, 151), 0 0 15px rgba(0,0,0,0.2);
  padding: 9px 10px;
  justify-content: space-between
}
#second h4 {
  padding: 11px;
 }

#third {
  box-shadow: inset 0 0 15px #be8060, 0 0 15px rgba(0,0,0,0.2);
  padding: 9px 10px;
  justify-content: space-between
}
#third h4 {
  padding: 11px;
 }

#others {
  padding: 9px 10px;
  justify-content: space-between
}
#others h4 {
  padding: 11px;
 }

.host-sign {
position: absolute;
right: 6px;
top: -13px;
}

.card-match h2 {
font-size: 15px;
font-weight: bold;
margin: 0;
}

.card-match p {
font-size: 14px;
line-height: 1.4;
margin-bottom: 0;
margin-top: 8px;
color: black;
}

#createdmatched {
flex-direction: column;
padding: 5px 19px;
.match-host {
padding-top: 6px;
margin: 0 auto;
}
}

.index-info-created {
  box-shadow: 0px 0px 4px $blue;
  background-color: white;
  margin: 10px;
  border-radius:  20px;
  display: flex;
  align-items: center;
  width: 269px;
  padding: 1.5px;
}

.index-info-empty {
  box-shadow: 0px 0px 4px $blue;
  background-color: white;
  margin: 10px;
  border-radius:  20px;
  display: flex;
  align-items: center;
  width: 269px;
  padding: 1.5px;
  justify-content: center;
  align-self: center;
  p {
    margin: 0px auto;
  }
}

.match-host {
width: 85px;
text-align: center;
padding: 0px 8px;
}

.match {
padding: 10px;
}

.match-avatar {
height: 100%;
width: 120px;
object-fit: cover;
border-radius: 50px;
padding: 10px
}

.card-match .btn a {
color: black;
font-size: 12px;
}

.card-match .btn {
border-radius: 10px;
padding: 2px;
}

.requests {
  background-color: $light-blue;
  border-radius: 24px;
  padding: 5px;
  margin-bottom: 4px;
  position: relative;
}

.request {
background-color: $white;
border-radius: 20px;
padding: 5px;
margin: 5px 0px;
display: flex;
justify-content: space-between;
width: 220px;
}

.request-buttons {
  display: flex;
  align-self: center;
  flex-direction: row-reverse;
}

.match-status {
  position: absolute;
  bottom: 68px;
  right: 9px;
}

// Score-Card
// Top-3

.top-3 {
display: flex;
flex-direction: row;
justify-content: center;
position: relative;
align-items: center;
top: 36px;
justify-content: space-around;
}

.top-3 > div:nth-child(1) {
position: absolute;
top: -30px;
}

.top-3 > div:nth-child(2) {
margin-right: 8px;
margin-top: 7px;
}

.top-3 > div:nth-child(3) {
margin-left: 44px;
margin-top: 3px;
}

.rank-top-3 {
flex-direction: column;
margin: 10px;
text-align: center;
font-size: 40px;
font-weight: bold;
}

.rank-top-3 > p {
margin-top: 10px;
margin-bottom: 0px;
}

.stats-egor {
flex-direction: column;
text-align: center;
line-height: 14px;
padding-top: 5px;
}

.stats-egor > p {
flex-direction: column;
justify-content: center;
margin-top: 5px;
margin-bottom: 0px;
}

.match-avatar-top-3 {
height: 120px;
width: 120px;
object-fit: cover;
border-radius: 50%;
display: flex;
flex-direction: column;
}

#img-profile {
border: 5px solid red;
}



// Others
.rest-players {
display: flex;
flex-direction: column;
}

.profile-stats {
display: flex;
flex-direction: column;
justify-content: center;
margin-left: 10px;
}

.profile-stats > p {
margin: 0px;
}

.score-profile {
background: white;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
display: flex;
margin: 10px;
border-radius: 50px;
flex-direction: row;
align-items: center;
padding-top: 10px;
padding-bottom: 10px;

}

.others-rank {
display: flex;
margin: 10px;
margin-left: 20px;
justify-content: center;
flex-direction: row;
}

.others-rank > p {
font-size: 60px;
margin-bottom: 0px;
margin-left: 10px;
margin-right: 10px;
text-align: center;
}
