// Show-card

.show-card {
  box-shadow: 0px 0px 4px rgb(170, 169, 169);
  padding: 20px;
  background-color: white;
  margin: 10px;
    &:hover {
    box-shadow: 0px 0px 8px rgb(170, 169, 169);
  }
  border-radius:  15px 70px 15px 15px;
}

.show-card a {
  color: black;
}

.host-img {
  text-align: center;
}


// Match-Card
.card-match {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin: 20px;
  border-radius: 50px;
}


.card-match h2 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

.card-match p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: black;
}

.match-info {
  display: flex;
}

.match {
  margin: 10px;
}

.match-avatar {
  height: 100%;
  width: 120px;
  object-fit: cover;
  border-radius: 50px;
  padding: 10px
}

.card-match .btn a {
  color: black;
  font-size: 12px;
}

.card-match .btn {
  border-radius: 10px;
  padding: 2px;
}



.card-trip {
  margin: 20px;
}

.whole-card {
  display:flex;
}
