.chatroom {
  background: white;
  margin-top: 8px;
  height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  border-top-right-radius: 250.5px;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}

.right-message {
  display: flex;
  flex-direction: column;
  .message-info-container, p {
    align-self: flex-end;
  }
}

#chat-form {
  position: absolute;
  top: 65px;
  left: 39px;
  right: 39px;
  border-radius: 15px 150px 15px 15px;
  box-shadow: 0px 0px 4px #aaa9a9;
  padding: 13px;
}

#clickme {
  position: absolute;
  top: 87px;
  right: 2px;
  border-radius: 50%;
}


.speech-bubble {
  background: $light-blue;
  border-radius: 100%;
  color: $blue;
  display: inline-block;
  padding: .5em .8em;
  position: relative;
}

.speech-bubble:before {
  background: $light-blue;
  border-radius: 100%;
  content: '';
  width: 3.5em;
  height: 1em;
  position: absolute;
  left: 8%;
  bottom: 6px;
  margin-left: -.5em;
  -webkit-transform: rotate(-35deg);
  // .speech-bubble:before .right-message {
  //   background: $light-blue;
  //   border-radius: 100%;
  //   content: '';
  //   width: 3.5em;
  //   height: 1em;
  //   position: absolute;
  //   left: 92%;
  //   bottom: 6px;
  //   margin-left: -.5em;
  //   -webkit-transform: rotate(-35deg);
  // }
}

.message-info-container {
  color: grey;
}
