.container {
  background-color: $light-blue;
  border-top-right-radius: 250.5px;
  width: auto;
  height: 211vh;
}

.bottom-white-fix {
  &:after {
    position: absolute;
    content: '';
    width: 100vw;
    height: 50px;
    background-color: $light-blue;
    bottom: -120px;
    left: 0px;
    z-index: -1;
  }
}
