.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 30%;
  border: 1px solid lightgrey;
  border-radius: 18px;
  box-shadow: none;
  border-top-right-radius: 250.5px;
}

.mapboxgl-canvas {
  overflow: hidden;
}
