.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border-radius: 20px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.459);
  height: 223px;
  overflow-y: scroll;
  background-color: $light-blue;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 30%;
  border: 1px solid lightgrey;
  border-radius: 18px;
  box-shadow: none;
  border-top-right-radius: 250.5px;
}

.mapboxgl-canvas {
  overflow: hidden;
}
