.match-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    background: rgba(0,0,0,0.4);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.modalclickme {
  position: absolute;
  left: 84px;
  top: 84px;
  transform: rotate(-30deg);
}

.match-modal p{
    font-size: 14px;
    line-height: 1.4;
    opacity: .8;
    margin-bottom: 0;
    margin-top: 8px;
    color: black;
}

.match-modal-content {
    background-color: $light-blue;
    padding: 20px;
    width: 100%;
    margin: auto;
    border-top-right-radius: 255px;
    position: absolute;
    bottom: 0;
    text-align: right;
    .modalclickme svg {
      position: absolute;
      left: 124px;
      bottom: -103px;
    transform: rotate(95deg);
    }
    .btn {
      position: absolute;
      right: 30px;
      bottom: 26px;
    }
}

.match-modal-close {
    color: #F86175;
    font-size: 35px;
    font-weight: bold;
    float: left;
}
.match-modal-close:hover,
.match-modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.animate-bottom {
  animation: animatebottom 0.5s;
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

.modal-information {
  line-height: 225%;
  padding: 10px
}

.index-info-modal {
  box-shadow: 0px 0px 4px rgb(170, 169, 169);
  background-color: white;
  margin: 10px;
  border-radius:  20px;
  display: flex;
  align-items: center;
}

.modal-name {
  text-align: center;
  color: $red;
  position: relative;
  bottom: 36px;
  right: 51px;
}
