.match-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    background: rgba(0,0,0,0.4);
    // box-shadow: 0px 0px 4px rgb(170, 169, 169);
}

.match-modal p{
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
    color: black;
}

.match-modal-content {
    background-color: #FEFEFE;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    margin: 20px;
    border-radius: 50px;
}
.match-modal-close {
    color: #AAAAAA;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.match-modal-close:hover,
.match-modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.animate-bottom {
  position: relative;
  animation: animatebottom 0.4s;
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}
