#main_content {
  margin-top:50px;
}

#main_content li {
  display: inline;
  padding: 10px;
  border-radius: 20px 20px 20px 20px;
  cursor: pointer;
  margin: 5px;
  text-align: center;
}

#main_content li.notselected {
 background-color:white;
}

#main_content .hidden_desc {
 display:none;
 visibility:hidden;
}

#main_content #page_content {
 padding:10px;
 margin-top:9px;
}

.tab-header {
  display: flex;
  .selected {
    box-shadow: 0px 0px 8px #00000063;
    color: #000000;
    text-shadow: 0px 0px 2px #00000066;
  }
}
