<div class="container">
  <div class="form-container">
      <div class="form">
          <%= simple_form_for [@match, @review] do |f| %>
            <%= f.input :comment, label: false, placeholder: 'ðŸ—£ï¸: "Great and friendly match"' %>
            <%= f.input :rating, collection: [1, 2, 3, 4, 5], label: 'â­â­â­â­â­' %>
            <%= f.button :submit, "Submit review", class: "btn btn-cta" %>
          <% end %>
      </div>
  </div>
</div>
