<div class="container">
  <div class="form-container">
      <div class="form">
        <h2>Leave Match Review</h2>
          <%= simple_form_for(@review, @match) do |f| %>
            <%= f.input :comment, label: false, placeholder: 'Great and friendly match' %>
            <%= f.input :rating, collection: [1, 2, 3, 4, 5], label: 'Star Rating' %>
            <%= f.button :submit, "Submit review", class: "btn btn-primary" %>
          <% end %>
      </div>
  </div>
</div>
